.jumbotron {
    color: black;
    background-image: url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}


/* @media (min-width: 768px) {
    .display-4 {
        font-size: 2rem !important; 
    }
}


@media (min-width: 992px) {
    .display-4 {
        font-size: 6rem;
    }
}


@media (min-width: 1200px) {
    .display-4 {
        font-size: 3rem;
    }
} */